<div class="header">
    <div class="header-logo"><img class="img-logo" src="/assets/OSC-logomark-color.png" alt="OSC Logo"></div>
    <div class="header-label">Lukedive {{ version }}</div>

    <div class="relevancy-marketing"><a href="https://relevancy.slack.com">Join the Discussion</a></div>
</div>


<div class="main-container">
    <form class="basic-form" (ngSubmit)="updateUrl()">
        <input class="url-textbox" type="text" [(ngModel)]="solrUrl" name="solrUrl">
        <button (click)="updateUrl()">Run</button>
    </form>

    <d3-bar></d3-bar>
    <d3-treemap></d3-treemap>

</div>


<div class="footer">
    <span class="footer-text">Copyright 2020 Opensource Connections LLC</span>
</div>

<router-outlet></router-outlet>
